*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Scans',sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(./images/slider5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 50px;
}
.logo img{
    width: 150px;
    height: auto;
}
.navlist{
    display: flex;
}
.navlist li a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px 5px;
    margin: 0 22px ;
    border-bottom: 2px solid transparent;
    transition: all .42s;
}
.navlist a:hover {
    color:#D3D3D3;
    border-bottom: 2px solid #fff;
}
#menu-icon{
    color: #fff;
    font-size: 35px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
.home-btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid rgb(194, 15, 15);
    background-color: rgb(194, 15, 15);
    padding: 20px 25px;
    border-radius: 30px;
    transition: all .34s;
}
.home-btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
}
section{
    padding: 0 10%;
}
.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.home-text h4{
    color: #fff;
    font-size: 18px;
    font-weight: 500;

}
.home-text h1{
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}
.home-text p{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    max-width: 460px;
    line-height: 27px;
    margin-bottom: 28px ;
}
.home-text span{
    font-weight: bold;
}
.home-inp{
    width: 100%;
    position: relative;
    max-width: 460px;
}
.home-inp input:first-child{
    display: inline-block;
    width: 85%;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid rgb(202, 40, 75);
    border-radius: 30px;
}
.home-inp input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    padding: 16px 40px;
    background-color: rgb(36, 69, 212);
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    top: 1px;
    right: 10px;
}
.right{
    position: absolute;
    top: 70%;
    right: -147px;
    padding: 0 5%;
    transform: rotate(90deg);
}
.right a{
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .42s;
}
.right a:hover{
    color: #cf0707;
}
@media (max-width:995px){
header{
    padding: 18px 20px;
    transition: 0.3s;
}
@media (max-width: 685px){
    .home-text h4{
        font-size: 16px;
        transition: 0.3s;
    }
    .home-text h1{
        font-size: 40px;
        transition: 0.3s;
    }
    
}
}
@media (max-width:425px){
    .home-text h1{
        font-size: 35px;
        transition: 0.3s;
    }
}
@media (max-width:580px){
    .right{
        right: -120px;
        transition: 0.3s;
        top: 50%;
    }
}
@media (max-width:925px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #152f5d;
        transition: all .42s;
    }
}